<!DOCTYPE html>
<html  lang="en" >
<head>
  <title>Bootstrap Theme The Band</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-welcome text-center ">
  <h3>About Us</h3>
  <p><em>We love challenge!</em></p>
  <p>You will stand on a new starting point in life. </p>
  <br>
  <div class="row">
  <div class="col-sm-4">
    <p class="text-center"><strong>Our team</strong></p><br>
    <a href="#demo" data-toggle="collapse">
      <img src="https://ww4.sinaimg.cn/large/006tKfTcgw1fbpbonsy2bj319413kq7z.jpg" class="img-circle person" alt="Random Name">
    </a>
    <div id="demo" class="collapse">
      <p>A team of enthusiasic</p>
      <p>professional and efficient work.</p>
      <p>Number of 100</p>
    </div>
  </div>
  <div class="col-sm-4">
    <p class="text-center"><strong>Find job</strong></p><br>
    <a href="#demo2" data-toggle="collapse">
      <img src="https://ww4.sinaimg.cn/large/006tKfTcgw1fbpbonsy2bj319413kq7z.jpg" class="img-circle person" alt="Random Name">
    </a>
    <div id="demo2" class="collapse">
      <a  href="/jobs" class="btn btn-danger">
          Let's go
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <p class="text-center"><strong>Join us</strong></p><br>
    <a href="#demo3" data-toggle="collapse">
      <img src="https://ww4.sinaimg.cn/large/006tKfTcgw1fbpbonsy2bj319413kq7z.jpg" class="img-circle person" alt="Random Name">
    </a>
    <div id="demo3" class="collapse">
      <p>We are looking forward</p>
      <p>to your joining. </p>
      <p>Founded in 2016</p>
    </div>
  </div>
</div>
</div>

</body>
<style type="text/css">
body
{
  background-image:url('https://ooo.0o0.ooo/2017/01/17/587dc43092cef.png');
  background-attachment:fixed;
  background-size: cover;
}
</style>
</html>
