<html>
<body>
  <div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-12">
        <h3 class="panel-title">
            <%= resume.user.email %>
        </h3>
      </div>

    </div>
  </div>
  <div class="panel-body">
    <div class="trix-content">
      <p> <%= simple_format(resume.content) %> </p>
    </div>

    <hr>

    <% if resume.attachment.present? %>
      <i class="fa fa-paperclip"> </i>
      <%= link_to("Download Resume", resume.attachment_url) %>
    <% else %>
      No Attachment
    <% end %>
  </div>

</div>
</body>
<style type="text/css">
body
{
  background-image:url('https://ooo.0o0.ooo/2017/01/17/587dc43092cef.png');
  background-attachment:fixed;
  background-size: cover;
}
</style>
</html>
