
.container-welcome{
  background-color: rgba(0, 0, 0, 0.3);
  color: #FFFFFF
}
.container{
  color: #363636
}
.bg-1 {
  margin-bottom: -20px;
  margin-top:25px;

   height: 140px;
    background-color: #2f2f2f;
    color: #ffffff;
    padding-top:20px;

}
.footer1{
  font-size: 10px;
}
.footer2{
  font-size: 18px;
}

.Aboutu{
  padding-top: 5px;
}
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;

}
.person:hover {
    border-color: #f1f1f1;
}
html, body{
  height: 100%;
}

#wrap{
  min-height: 100%;
  margin: 0 auto -60px;
}

#push, #footer{
  height: 60px;
}
