<html>
<body position="fixed">
<footer class="container-fluid bg-1 text-center">
  <div class="footer1">
  <p>Cool cat team is a unity and passionate team, we are committed to continuous improvement, constantly upgrade our service,
    <br/>
    if you have any better suggestions, please contact: http://www.coolcatjob/com
    <br/>
    if you satisfy with our service, please get our
    <br/>service to share out</p>
  </div>
    <div class="footer2">
  <p>C.C Job Web descriped By <a href="/"> Sui Lu </a></p>
</div>
</footer>
</body>
</html>
